<p id="notice"><%= notice %></p>

<h1>Translations</h1>

<div class="dropdown" id="tr-model-dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownModel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    What to translate?&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownModel">
    <% i = 1 %>
    <%- @models.each do |model| %>
      <li><a href="<%= translation_path(id: i) %>"><%= model.humanize %></a></li>
      <% i = i+1 %>
    <% end %>
  </ul>
</div>
